.ad-logo-letter {
  color: rgb(60, 141, 60);
}

#adhouse-logo {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;
  font-size: 90px;
}

.ui.header > .image:not(.icon),
.ui.header > img {
  /* float: left; */
  height: 2em;
  width: auto;
  /* margin: 0px; */
}
.logo-image-header {
  margin-bottom: 70px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 600px;
  padding: 1em 0em;
}

a {
  color: black;
}
.ui.inverted.segment {
  background-color: rgb(196, 255, 220);
  color: black;
}

.ui.inverted.header {
  color: rgb(0, 35, 75);
}

.ui.secondary.inverted.pointing.menu {
  border-style: none;
}

.ui.secondary.inverted.menu.a.item {
  color: black;
}

.ui.inverted.link.list a.item {
  color: black;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }

  .secondary.pointing.menu .toc.item {
    display: block;
  }

  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  .full-screen-block {
    height: 100vh !important;
  }
  .logo-image-header {
    margin: 0px;
  }
}
.full-screen-block {
  height: 75vh;
}

/* This line of code prevents a white margin from appearing at the top */
.pusher {
  margin: 0;
}

/* Bouncing arrow CSS */
/**/
.fa-arrow-down {
  color: rgb(227, 49, 49);
  text-decoration: none;
  width: 10%;
}
.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* END Bouncing arrow CSS */
/**/

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
