.section {
  text-align: center;
  font-size: 3em;
}

/* #section1 {
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg3.jpg);
  padding: 6% 0 0 0;
} */
